
#container{
    margin: 3vw 10vw;
    font-family: 'Garamond';
}
#imagesContainer{
    display: flex;
    justify-content: space-between;
    font-family: 'Garamond';
    color: #444444
}
#rightSideContainer{
    flex-grow: 3;
    margin: 0 15px;
}
#imageSidebarContainer{
    flex-basis: 40%;
    margin: 0 15px;
}
#largeImageContainer{
    display: inline-block;
}
#sourceMaterialContainer{
    margin-top: 1.3em;
}
img{
    max-width:100%;
    max-height:100%
}
#divider{
    flex: 0 0 auto;
    width: 1px;
    background-color: lightgray;
}
.horizontalDivider{
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}
.header{
    font-size: 1.3em;
    margin: 1em 0;
}
p{
    margin: 3px;
}
.box{
    background-color: black;
    color:#eee;
    padding: 2px;
}